<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/cg-path-tracer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Path Tracer </h3>
    <p>
      A Monte Carlo Path Tracer, featuring a custom scene and material description,
      allowing photorealistic rendering of a scene consisting .OBJ and material files.
    </p>
    <p>
      Materials have diffuse, specular, transmissive, and refraction coefficients, 
      giving flexibility on their definition.
      Diffuse, normal and displacement textures may be applied for enhanced details.
    </p>
    <ul>
      <li>C++</li>
    </ul>
    <a class="project-link" target="_blank" href="https://github.com/lams3/CG_Path_Tracer">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/visun.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Visun </h3>
    <p>
      Developed at Voxar Labs, Visun allows the direct visualization and interaction with BIN 3D models and associated metadata in Augmented Reality applications.
      Visun seamslessly loads and renders complex 3D models in AR Headsets (such as Hololens) in real-time, being optimized for such devices. 
      Moreover, it displays, for each component of the model, additional non-geometric data that is associated to the component, allowing informative applications contextualized with the spatial data.
    </p>
    <p>
      I worked on the IFC geometry and metadata extraction, geometry optimization and rendering.
    </p>
    <ul>
      <li> Unity </li>
      <li> C# </li>
      <li> C++ </li>
      <li> Hololens </li>
    </ul>
    <a class="project-link" target="_blank" href="https://www.cin.ufpe.br/~voxarlabs/project/Visun">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/virtuatlas.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> VirtuAtlas </h3>
    <p>
      Developed at Voxar Labs VirtuAtlas is a VR application focused on anatomy study for medicine students.
    </p>
    <p>
      Anatomy is a base content for the study of any health-related area, specially medicine. 
      However, the way it is taught is still very archaic, using anatomy atlas and exhaustive repetition.
    </p>
    <p>
      VirtuAtlas aims to improve this experience offering a platform in which users can visualize and interact with 3D models of the anatomic pieces (so they have a more accurate spacial notion of it); 
      clinical practice related content (like examples for pathologies and radiological exams); 
      and freedom to manipulate the anatomical pieces without the fear of damaging them.
    </p>
    <p>
      I worked on the object manipulation and other interactions.
    </p>
    <ul>
      <li> Unity </li>
      <li> C# </li>
      <li> Mixed Reality Toolkit </li>
    </ul>
    <a class="project-link" target="_blank" href="https://www.cin.ufpe.br/~voxarlabs/project/VirtuAtlas">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img src="{{ "/assets/img/songverse.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Songverse </h3>
    <p>
      A musical instrument the size of the universe...
    </p>  
    <p>
      Songverse is a music authoring VR experience based on a universe creation metaphor.
    </p>
    <p>
      The user can create, destroy and manipulate stars, planets and sattelites at will, not only shaping the universe, but also creating music.
    </p>
    <p>
      I worked on the development of the application as well as the creation of all the art assets.
    </p>
    <p>
      Songverse was published at SVR 2019 and was a best paper candidate. A extendend version was also published at JIS.
    </p>
    <ul>
      <li> Unity </li>
      <li> C# </li>
      <li> Tiltbrush </li>
    </ul>
    <a class="project-link" target="_blank" href="https://drive.google.com/open?id=1YXoX0KizG61bAJ0Q5E0uTSabKWxjS4rN">Check it out</a>
    <a class="project-link" target="_blank" href="https://ieeexplore.ieee.org/document/8921254">SVR Publication</a>
    <a class="project-link" target="_blank" href="https://sol.sbc.org.br/journals/index.php/jis/article/view/749">JIS Publication</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img src="{{ "/assets/img/GoThrough.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> GoThrough </h3>
    <p>
      Developed as part of the conclusion project of my bachelor degree in Computer Science at UFPE's Center of Informatics
    </p>
    <p>
      GoThrough is an Unity Plugin developed to enable the usage of transformative portals in the Universal Render Pipeline.
    </p>
    <p>
      The tool supports an arbitrary number of portals that can be recursivelly rendered up to a maximum recursion depth.
    </p>
    <p>
      GoThrough was published at SBGames 2020's Computing Track and was nominated as it's 2º best paper.
    </p>
    <ul>
      <li> Unity </li>
      <li> Universal Render Pipeline </li>
      <li> C# </li>
    </ul>
    <a class="project-link" target="_blank" href="https://github.com/lams3/GoThrough">Check it out</a>
    <a class="project-link" target="_blank" href="https://www.sbgames.org/proceedings2020/ComputacaoFull/209704.pdf">SBGames Publication</a>
  </div>
</div>