<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/cg-path-tracer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Path Tracer </h3>
    <p>
      A Monte Carlo based Path Tracer, featuring a custom scene and material description,
      allowing Photorealistic renderization of .OBJ files. It was my first atempt on global illumintation.
      Materials have Diffuse, Specular, Transmissive, and Refraction coefficients, 
      alowing for flexibility on their definition.
      Diffuse, Normal and Displacement Textures may be applied for enhanced details.
    </p>
    <ul>
      <li>Fully written in Modern C++</li>
      <li>Multithread for best efficience</li>
    </ul>
    <a class="project-link" target="_blank" href="https://github.com/lams3/CG_Path_Tracer">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/todo.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Voxar Renderer </h3>
    <p>
      A real-time renderer made as a job application for Voxar Labs. It features Diffuse, Specular, Reflection and Normal Texture
      Mapping, a FPS-style camera with the ability to experiment Dolly-Zoom effect. The Reflection Mapping may be static
      or dynamic(re-rendering an cube-map every frame for the object).
    </p>
    <ul>
      <li> C++ </li>
      <li> OpenGL </li>
    </ul>
    <a class="project-link" target="_blank" href="https://github.com/lams3/VoxarRenderer">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/todo.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Screaming Claudio </h3>
    <p>
      An artistic application about the torment of a man betrayed by his best friend 
      at Recife's intense car traffic.
    </p>
    <ul>
      <li> HTML5 Canvas </li>
    </ul>
    <a class="project-link" target="_blank" href="https://github.com/lams3/ScreamingClaudio">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/todo.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Spotify Visualizator </h3>
    <p>
      A music visualizator integrated to Spotify using their WebAPI and ConnectSDK. The user gives an image as input and the application
      creates a painting of it based on the current music rhythm.
    </p>
    <ul>
      <li> NodeJS </li>
      <li> Three.js </li>
      <li> React </li>
    </ul>
    <a class="project-link" target="_blank" href="https://github.com/lams3/spotify-visualizator">Check it out</a>
  </div>
</div>